@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    height: 100vh;
    background-color: #7878d9;
    background-image: url('../image/list.jpeg');
    background-size: cover;
    background-repeat: no-repeat;



}


.todo-title {
    color: #23060c;
    font-weight: bolder;

}

.add-btn {
    color: white;
    background-color: #7878d9;
}

.add-btn:hover {
    background: #23060c;
    border-color: rgba(8,189,221,1);
}


[type="checkbox"]:checked + span {
    text-decoration: line-through;
}